@model ScientificJournal.Domain.DTO.PaperDetailsDTO
@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
	<script src="https://kit.fontawesome.com/799254cd45.js" crossorigin="anonymous"></script>
</head>
<h1>Details</h1>

<div>
	<h4>Research paper</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Paper.Title)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Paper.Title)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Paper.AreaOfResearch)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Paper.AreaOfResearch)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Paper.Abstract)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Paper.Abstract)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ConferenceName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ConferenceName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Keywords)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Keywords)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Paper.status)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Paper.status)
		</dd>

		@for (int i = 0; i < Model.Authors.Count; i++)
		{
			var item = Model.Authors[i];
			<dt class="col-sm-5 mt-5">Information about @(i+1) author</dt>
			<dd class="col-sm-7"></dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Authors[i].Email)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Authors[i].Email)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Authors[i].Biography)
			</dt>
			<dd class="col-sm-10">
				@if (item.Biography != null && item.Biography != "")
				{
					@Html.DisplayFor(model => model.Authors[i].Biography)
				}
				else
				{
					@:This user does not exist in our database, we cannot provide any further details about them.

				}
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Authors[i].PhoneNumber)
			</dt>
			<dd class="col-sm-10">
				@if (item.PhoneNumber != null && item.Biography != "")
				{
					@Html.DisplayFor(model => model.Authors[i].PhoneNumber)
				}
				else
				{
					@:N/A

				}
			</dd>

		}
		<dt class="col-sm-2 mt-3">
			@Html.DisplayNameFor(model => model.Paper.PaperDocument.DocumentName)
		</dt>
		<dd class="col-sm-10 mt-3">
			<a asp-action="GetPdfDocument" asp-controller="Paper" asp-route-documentId="@Model.DocumentId">
				<i class="fas fa-file-pdf" style="color: red"></i>
				@Html.DisplayFor(model => model.Paper.PaperDocument.DocumentName)
			</a>

		</dd>
	</dl>
</div>
<div>
	@if (!Model.NoEdit)
	{
		<a asp-action="Edit" asp-route-id="@Model.Paper.Id">Edit</a>
	}
		<a asp-action="@Model.PreviousAction" asp-controller="Paper" class="btn btn-secondary btn-sm">Back to List</a>
	

</div>
