@model ScientificJournal.Domain.DTO.PaperDetailsDTO
@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
	<script src="https://kit.fontawesome.com/799254cd45.js" crossorigin="anonymous"></script>
</head>
<h1>Details</h1>

<div>
	<h4>Research paper</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Paper.Title)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Paper.Title)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Paper.AreaOfResearch)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Paper.AreaOfResearch)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Paper.Abstract)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Paper.Abstract)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Keywords)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Keywords)
		</dd>

		@for (int i = 0; i < Model.Authors.Count; i++)
		{
			var item = Model.Authors[i];
			<dt class="col-sm-5 mt-5">Information about @(i+1) author</dt>
			<dd class="col-sm-7"></dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Authors[i].Email)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Authors[i].Email)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Authors[i].Biography)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Authors[i].Biography)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Authors[i].PhoneNumber)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Authors[i].PhoneNumber)
			</dd>

		}
		<dt class="col-sm-2 mt-3">
			@Html.DisplayNameFor(model => model.DocumentName)
		</dt>
		<dd class="col-sm-10 mt-3">
			<a asp-action="GetPdfDocument" asp-controller="Paper" asp-route-name="@Model.DocumentName">
				<i class="fas fa-file-pdf" style="color: red"></i>
				@Html.DisplayFor(model => model.DocumentName)
			</a>

		</dd>
	</dl>
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.Paper.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
