@using ScientificJournal.Domain.DomainModels
@model List<ScientificJournal.Domain.DomainModels.Paper>
@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container">
	<table class="table table-hover">
		<thead  style="color: darkblue; font-size: 18px;">
		
			<tr>
				<th scope="col"></th>
				<th scope="col" >Paper Title</th>
				<th scope="col">Research Area</th>
				<th scope="col">Status</th>
				<th scope="col" ></th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < Model.Count; i++)
			{
				var item = Model[i];
			<tr>
				<td>@(i + 1)</td>
				<td class="h5 font-weight-normal">@item.Title</td>
				<td class=" font-weight-bold">@item.AreaOfResearch</td>

				@{
					if (item.status.Equals(Status.APPROVED))
					{
						<td class="h5 font-weight-bold" style="color: green;"> @item.status</td>

					}
					else if (item.status.Equals(Status.PENDING))
					{
						<td class="h5 font-weight-bold" style="color: #FEE735;"> @item.status</td>
					}
					else
					{
						<td class="h5 font-weight-bold" style="color: red;"> @item.status</td>
					}

				}

				<td><a asp-action="Details" asp-controller="Paper" asp-route-id="@item.Id" asp-route-prev="MyPapers" class="btn btn-info">Details</a></td>
				<td><a asp-action="Edit" asp-controller="Paper" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a></td>
				<td><a asp-action="Delete" asp-controller="Paper" asp-route-id="@item.Id" class="btn btn-danger">Delete</a></td>
			</tr>
			}
		</tbody>
	</table>

	<div class="m-3">
		<a class="btn btn-success" asp-controller="Paper" asp-action="Create" style="width: 250px; margin-left:27px;">New Research Paper</a>
	</div>
	<br />
	<br />
</div>
