@model ScientificJournal.Domain.DomainModels.Conference
@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="row">

				<div class="col-md-7">
					<h3>@Html.DisplayFor(model => model.ConferenceName)</h3>
					<hr />
					<h6>@Html.DisplayNameFor(model => model.Date):</h6>
					<p>@Model.Date.ToString("g", System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))  </p>
					<hr />
					<h6>Price:</h6>
					<p class="text-black font-italic">@Html.DisplayFor(model => model.Price) $</p>
					<hr />
					<div>
						<h4>Papers published on conference</h4>
						@for (int i = 0; i < Model.Papers.Count; i++)
						{
							var allPapers = Model.Papers.ToList();
							var item = allPapers[i];
							<span>
								@(i+1)) <a class="btn-link" asp-action="Details" asp-controller="Paper" asp-route-id="@item.Id">@item.Title</a>
							</span>
							<br />
						}
					</div>
				</div>
				<div class="col-md-5">
					<img src="@Html.DisplayFor(model => model.ConferenceImage)" alt="Image for Ticket" style="width:400px; height:350px" />
				</div>

			</div>
		</div>
	</div>
</div>
